h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin: 5px;
    margin-left: 0px;
    margin-top: 10px;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#small_text {
    font-size: 12px;
}
.population_text {
    color: #f9c0cb;
    font-weight: bold;
}

.co2_text {
    font-weight: bold;
    color: #2f5aa6;
}

.cpi_text {
    font-weight: bold;
    color: #E59866;
}

.gdp_text {
    font-weight: bold;
    color: #e41a1c;
}
.life_text {
    font-weight: bold;
    color: #90d0ba;
}

body {
    background-image: url('../picture/645bc9a1165831683736993698.jpg'); /* 对于图像背景 */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.page {
    background-color: #ddeefa;
    width: 1200px;    
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}
.description-left {
    padding-right: 20px;
}

.description-right {
    text-align: right;
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 25px;
}
.small-font {
    font-size: 14px;
}
#banner {
    padding: 20px;
    padding-top: 25px;
    background: url("../picture/CCUS-report_1000x500pxl_tcm21-236960.jpg") #20445f;
    background-position: center;
    background-size: cover;
    color: white;
}
#map_frame {
    background-color: #ddeefa;
    padding: 20px;
}
#map_frame p {
    margin-right: 650px;
}
#map {
    padding-right: 10px;
}
#scatter_frame {
    background-color: #cfe0f2;
    padding: 20px;
}
#scatter_frame p {
    margin-right: 300px;
}
#radial_frame {
    background-color: #cfe0f2;
    padding: 20px;
}
#radial_frame p {
    margin-right: 290px;
}
#radial {
    width: 100%;
}
#bar_frame {
    background-color: #cfe0f2;
    margin-left: 30px;
    padding: 20px;
    padding-bottom: 47.5px;
}

#bar_chart_area_co2_frame{
    background-color: #cfe0f2;
    padding: 20px;
}

#end_credit {
    background: url("../media/webpage_banner.jpg") #20445f;
    background-position: center;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
